//Microsoft App Studio generated resource script.
//
#include "elemres.h"
#include "afxres.h"

//////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ELP_NODE DIALOG DISCARDABLE  192, 9, 163, 79
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "NODE Properties"
FONT 8, "System"
BEGIN
    EDITTEXT        IDD_ID,96,1,25,11
    CHECKBOX        "Control",IDD_NODE_CONTROL,128,0,33,12
    LTEXT           "X:",9,82,16,16,8
    EDITTEXT        IDD_NODE_X,96,13,46,12
    LTEXT           "Y:",13,82,28,16,8
    EDITTEXT        IDD_NODE_Y,96,25,46,12
    LTEXT           "Z:",15,82,38,15,8
    EDITTEXT        IDD_NODE_Z,96,37,46,12
    LTEXT           "REF_ID:",30,81,51,28,9
    EDITTEXT        IDD_NODE_NID_R,116,50,26,11
    LTEXT           "SUP_ID:",31,80,64,28,8
    EDITTEXT        IDD_NODE_SUP_ID,116,62,26,12
    CONTROL         "OK",IDOK,"Button",BS_OWNERDRAW | WS_TABSTOP,2,2,24,14
    CONTROL         "Cancel",IDCANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,2,
                    18,24,14
    PUSHBUTTON      "ADD",IDD_ADD,2,34,24,14
    PUSHBUTTON      "DEL",IDD_DEL,2,48,24,14
    PUSHBUTTON      "EDIT",IDD_EDIT,2,62,24,14
    LISTBOX         IDD_LIST,27,2,40,73,LBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ID:",7,81,3,13,8
END

IDD_ELP_PIPE DIALOG DISCARDABLE  76, 9, 229, 80
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "PIPE Properties"
FONT 8, "System"
BEGIN
    LTEXT           "LINE:",7,111,10,23,7
    LTEXT           "SEG:",24,175,10,22,8
    LTEXT           "NID_I:",30,111,22,28,9
    LTEXT           "NID_J:",19,175,22,22,8
    LTEXT           "RID_I:",21,111,35,28,8
    LTEXT           "RID_J:",31,175,35,28,8
    LTEXT           "PID:",25,111,49,16,8
    LTEXT           "MID:",26,175,49,16,8
    LTEXT           "KID_J:",22,175,63,24,8
    LTEXT           "KID_I:",23,111,63,26,8
    EDITTEXT        IDD_PIPE_LINE_ID,137,7,26,11
    EDITTEXT        IDD_PIPE_NUMSEG,199,7,26,11
    EDITTEXT        IDD_PIPE_NID_I,137,20,26,11
    EDITTEXT        IDD_PIPE_NID_J,199,20,26,12
    EDITTEXT        IDD_PIPE_RID_I,137,33,26,12
    EDITTEXT        IDD_PIPE_RID_J,199,34,26,11
    EDITTEXT        IDD_PIPE_PID,137,47,26,12
    EDITTEXT        IDD_PIPE_MID,199,47,26,12
    EDITTEXT        IDD_PIPE_KID_I,137,61,26,12
    EDITTEXT        IDD_PIPE_KID_J,199,61,26,12
    LISTBOX         IDD_LIST,28,4,79,74,LBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "OK",IDOK,"Button",BS_OWNERDRAW | WS_TABSTOP,2,2,24,14
    CONTROL         "Cancel",IDCANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,2,
                    18,24,14
    PUSHBUTTON      "ADD",IDD_ADD,2,33,24,14
    PUSHBUTTON      "DEL",IDD_DEL,2,48,24,14
    PUSHBUTTON      "EDIT",IDD_EDIT,2,63,24,14
END

IDD_ELP_ELBOW DIALOG DISCARDABLE  60, 40, 252, 103
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "ELBOW Properties"
FONT 8, "System"
BEGIN
    LTEXT           "LINE:",33,130,7,22,7
    LTEXT           "SEG:",24,197,7,22,8
    LTEXT           "NID_I:",30,128,22,28,9
    LTEXT           "NID_J:",19,196,22,22,8
    LTEXT           "RID_I:",21,128,35,28,8
    LTEXT           "RID_J:",31,196,35,28,8
    LTEXT           "PID:",25,128,50,16,8
    LTEXT           "MID:",26,196,49,16,8
    LTEXT           "KID_J:",22,196,63,24,8
    LTEXT           "KID_I:",23,128,63,26,8
    LTEXT           "NID_CC",27,128,77,25,11
    LTEXT           "NID_A:",29,128,90,27,9
    LTEXT           "NID_TI",28,196,77,28,10
    LTEXT           "NID_B:",32,196,91,24,8
    EDITTEXT        IDD_ELBOW_LINE_ID,155,4,26,12
    EDITTEXT        IDD_ELBOW_NUMSEG,220,4,26,12
    EDITTEXT        IDD_ELBOW_NID_I,155,18,26,12
    EDITTEXT        IDD_ELBOW_NID_J,220,18,26,12
    EDITTEXT        IDD_ELBOW_RID_I,155,32,26,12
    EDITTEXT        IDD_ELBOW_RID_J,220,32,26,12
    EDITTEXT        IDD_ELBOW_PID,155,46,26,12
    EDITTEXT        IDD_ELBOW_MID,220,46,26,12
    EDITTEXT        IDD_ELBOW_KID_I,155,60,26,12
    EDITTEXT        IDD_ELBOW_KID_J,220,60,26,12
    EDITTEXT        IDD_ELBOW_NID_CC,155,74,26,12
    EDITTEXT        IDD_ELBOW_NID_TI,220,74,26,12
    EDITTEXT        IDD_ELBOW_NID_A,155,88,26,12
    EDITTEXT        IDD_ELBOW_NID_B,220,88,26,12
    LISTBOX         IDD_LIST,40,16,79,73,LBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "OK",IDOK,"Button",BS_OWNERDRAW | WS_TABSTOP,4,16,24,14
    CONTROL         "ESC",IDCANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,4,32,
                    24,14
    PUSHBUTTON      "ADD",IDD_ADD,4,47,24,14
    PUSHBUTTON      "DEL",IDD_DEL,4,62,24,14
    PUSHBUTTON      "EDIT",IDD_EDIT,4,77,24,14
END

IDD_ELP_BEAM DIALOG DISCARDABLE  77, 11, 252, 79
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "BEAM Properties"
FONT 8, "System"
BEGIN
    EDITTEXT        IDD_BEAM_GROUP_ID,154,4,26,11
    EDITTEXT        IDD_BEAM_NUMSEG,216,4,26,11
    EDITTEXT        IDD_BEAM_NID_I,154,17,26,11
    EDITTEXT        IDD_BEAM_NID_J,216,17,26,12
    EDITTEXT        IDD_BEAM_RID_J,216,31,26,11
    EDITTEXT        IDD_BEAM_RID_I,154,30,26,12
    EDITTEXT        IDD_BEAM_MID,216,44,26,12
    EDITTEXT        IDD_BEAM_PID,154,44,26,12
    EDITTEXT        IDD_BEAM_NID_K,154,58,26,12
    LTEXT           "GROUP:",7,121,7,24,7
    LTEXT           "SEG:",24,189,6,22,8
    LTEXT           "NID_I:",30,121,19,28,9
    LTEXT           "NID_J:",19,189,18,24,8
    LTEXT           "RID_I:",21,121,32,28,8
    LTEXT           "RID_J:",31,189,31,25,8
    LTEXT           "PID:",25,121,46,16,8
    LTEXT           "MID:",26,189,45,16,8
    LTEXT           "KID_I:",23,121,60,26,8
    LISTBOX         IDD_LIST,32,3,79,73,LBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "OK",IDOK,"Button",BS_OWNERDRAW | WS_TABSTOP,2,2,24,14
    CONTROL         "ESC",IDCANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,2,18,
                    24,14
    PUSHBUTTON      "ADD",IDD_ADD,2,33,24,14
    PUSHBUTTON      "DEL",IDD_DEL,2,48,24,14
    PUSHBUTTON      "EDIT",IDD_EDIT,2,63,24,14
END

IDD_SUPPORT DIALOG DISCARDABLE  75, 40, 128, 115
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "SUPPORTED Node Properties"
FONT 8, "System"
BEGIN
    LTEXT           "ID:",7,69,3,13,8
    LTEXT           "ST:",9,70,15,16,8
    LTEXT           "CODE:",30,70,28,28,9
    LTEXT           "NID_A:",31,70,41,28,8
    CONTROL         "",18,"Static",SS_BLACKFRAME,4,80,122,32
    EDITTEXT        IDD_SUPPORT_ID,82,1,25,10
    EDITTEXT        IDD_SUPPORT_STIFFNESS,82,13,43,11
    EDITTEXT        IDD_SUPPORT_KODE,99,26,26,11
    EDITTEXT        IDD_SUPPORT_NID_A,99,38,26,12
    RADIOBUTTON     "TSPRING",IDD_SUPPORT_TSPRING,12,84,53,12,WS_TABSTOP
    RADIOBUTTON     "RSPRING",IDD_SUPPORT_RSPRING,12,96,50,12,WS_TABSTOP
    RADIOBUTTON     "TSNUBBER",IDD_SUPPORT_TSNUBBER,68,84,50,12,WS_TABSTOP
    RADIOBUTTON     "RSNUBBER",IDD_SUPPORT_RSNUBBER,68,96,51,12,WS_TABSTOP
    LISTBOX         IDD_LIST,27,3,40,73,LBS_SORT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDD_OK,2,2,24,14
    PUSHBUTTON      "ESC",IDD_ESC,2,18,24,14
    PUSHBUTTON      "ADD",IDD_ADD,2,34,24,14
    PUSHBUTTON      "DEL",IDD_DEL,2,48,24,14
    PUSHBUTTON      "EDIT",IDD_EDIT,2,62,24,14
END

IDD_DEFAULTS DIALOG DISCARDABLE  45, 12, 106, 65
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "DEfaults"
FONT 8, "System"
BEGIN
    LTEXT           "DEC PLACES",10,3,9,46,8
    LTEXT           "MULT FACTOR",11,3,23,47,9
    LTEXT           "UNITS",12,3,37,44,8
    EDITTEXT        IDD_PARAMETERS_FIX,54,6,25,12
    EDITTEXT        IDD_PARAMETERS_FACTOR,54,20,50,12
    EDITTEXT        IDD_PARAMETERS_UNITS,54,34,25,12
    CONTROL         "OK",IDOK,"Button",BS_OWNERDRAW | WS_TABSTOP,9,49,24,14
    CONTROL         "ESC",IDCANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,47,49,
                    24,14
END

IDD_ELEMENTS DIALOG DISCARDABLE  60, 40, 60, 97
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Show Element"
FONT 8, "System"
BEGIN
    CHECKBOX        "NODE",IDD_ELEMENTS_NODE,3,2,28,12
    CHECKBOX        "PIPE",IDD_ELEMENTS_PIPE,3,14,28,12
    CHECKBOX        "ELBOW",IDD_ELEMENTS_ELBOW,3,25,33,12
    CHECKBOX        "BEAM",IDD_ELEMENTS_BEAM,3,37,28,12
    CHECKBOX        "SUPPORT",IDD_ELEMENTS_SUPPORT,3,49,39,12
    CHECKBOX        "NONLIN SUPP",IDD_ELEMENTS_NL_SUPP,3,61,55,12
    CONTROL         "OK",IDOK,"Button",BS_OWNERDRAW | WS_TABSTOP,2,78,24,14
    CONTROL         "ESC",IDCANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,33,78,
                    24,14
END

#ifdef APSTUDIO_INVOKED
//////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "elemres.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

/////////////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED


#ifndef APSTUDIO_INVOKED
////////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

